
.customer-panel {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.customer-info {
  margin-bottom: 10px;
}

.balance-text {
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.button-container button {
  flex: 1; 
  border-radius: 20px;
  margin: 10px; 
  padding: 20px;
  box-shadow: 25px 11px 25px 9px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 25px 11px 25px 9px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 25px 11px 25px 9px rgba(0, 0, 0, 0.45);
}

.button-container button:hover {
  background: #ff0000;
  background: linear-gradient(59deg, #ff0000 0%, #00ff00 80%);
  background: -webkit-linear-gradient(59deg, #ff0000 0%, #00ff00 80%);
  background: -moz-linear-gradient(59deg, #ff0000 0%, #00ff00 80%);
  transition: ease-in-out;
}

.customer-drink-list {
  display: flex; 
  flex-wrap: wrap; 
  align-items: content;
  justify-content: center;
}

.customer-drink-list.customer-drink-box {
  margin: 10px;
}
